---
---

body {
    font-family: 'EB Garamond', serif;
    font-size: 18px;
}

header {
    font-family: 'Montserrat';
    h1 {
        font-size: 3em;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    h2 {
        font-size: 1.7em;
    }
    a {
        color: black;
    }
}

.content a, .sidebar a {
    color: black;
    border-bottom: 1px solid red;
    &:hover {
        color: red;
    }
}

.link-solid {
    border-bottom: none;
    &:hover {
        color: black;
        border-bottom: 1px solid red;
    }
}

.title {
    font-size: 1.7em;
    text-align: right;
    a {
        @extend .link-solid;
    }
}

.navigation a {
    margin-right: 10px;
}

.unpadded {
    padding: 0px !important;
}

.bottomspaced{
    margin-bottom: 30px;
}

.more-bottomspaced{
    margin-bottom: 60px;
}

.less-bottomspaced{
    margin-bottom: 15px;
}

.topspaced {
    margin-top: 30px;
}

.less-topspaced{
    margin-top: 15px;
}

.full-width {
    width: 100%;
}

.gray{
    color: #888;
}

.img-caption {
    line-height: 1;
    display: block;
}

.sidebar {
    margin-left: 20px;
    .sidebar-title {
        font-size: 1.3em;
        line-height: 2;
        a {
            @extend .link-solid;
        }
    }
    .sidebar-text {
        font-size: .9em;
    }
    .recent-post {
        font-size: 1.1em;
        a {
            @extend .link-solid;
        }
    }
    .preview-img {
        max-width: 75%;
    }
}

.post-meta {
    font-family: 'Courier';
    font-size: .8em; 
    .post-categories a {
        border-bottom: none;
        font-weight: bold;
    }
    .post-project a {
        border-bottom: none;
        font-weight: bold;
    }
}

.end {
    font-size: 1.2em;
}

.post {
    img {
        width: 100%;
    }
}

.overflow-ellipses {
    text-overflow: ellipsis;
}

.post-preview {
    .post-preview-title {
        font-size: 1.2em;
    }
    .post-preview-short {
        font-size: 1em;
    }
    .post-preview-meta {
        font-family: 'Courier';
        font-size: .8em;
    }
}

.page-title {
    font-size: 1.5em;
}

.contact-label{
    min-width:150px;
    margin-right: 10px;
}

.contact-text{
    float:right;
}

#contact {
    //font-family: 'Montserrat';
    a {
        border-bottom: none;
        color: red;
        &:hover {
            color: black;
        }
    }
}

.resume {
    font-size: 16px;
    h1 {
        font-size: 26px;
        font-weight: bold;
    }
    strong {
        font-size: 20px;
    }
    ul {
        list-style: default;
        li {
            list-style-type: circle;
            margin-left: 20px;
        }
    }

}

.tag-entry {
    .tag-name {
        font-size: 1.4em;
    }
    .tag-previews {
        margin-left: 20px;
    }
    .tag-preview-title {
        font-size: 1em;
    }
    .tag-meta {
        font-size: .7em;
        font-family: 'Courier';
    }
}
