---
layout: default
title: Tag
---

{% assign rawtags = "" %}
{% for post in site.posts %}
{% assign ttags = post.tags | join:'|' | append:'|' %}
{% assign rawtags = rawtags | append:ttags %}
{% endfor %}

{% assign rawtags = rawtags | split:'|' | sort %}

{% assign tags = "" %}

{% for tag in rawtags %}
{% if tag != "" %}

{% if tags == "" %}
{% assign tags = tag | split:'|' %}
{% endif %}

{% unless tags contains tag %}
{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
{% endunless %}
{% endif %}
{% endfor %}

<div class="tag-posts">

  <div class="tag-list bottomspaced">
    <div class="page-title">
      <b>Tags</b>
    </div>
    {% for tag in tags %}
      <a href="#{{ tag | slugify }}" class="post-tag"> {{ tag }} </a> &nbsp;&nbsp;
    {% endfor %}
  </div>

  {% for tag in tags %}
  <div class="tag-entry bottomspaced">
    <div class="tag-name" id="{{ tag | slugify }}"><b>{{ tag }}</b></div>
    <div class="tag-previews">
      {% for post in site.posts %}
      {% if post.tags contains tag %}
      <div class="tag-preview">
        <a class="tag-preview-title" href="{{ post.url | prepend: site.baseurl }}">
          {{ post.title }}
        </a>
        &nbsp;&nbsp;
        <span class="gray tag-meta">
          {{ post.date | date: "%B %-d, %Y" }}
        </span>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endfor %}

</div>