<!DOCTYPE HTML>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="container">
    
      <header>
        <h1>
          {% if page.heading %}
            {{ page.heading }}
          {% else %}
            ALEX NGAI
          {% endif %}
        </h1>
      </header>

      <div class="row">
        <div class="content col l9 s12">
          {{ content }}
        </div>

        <div class="col l3 s12">
          {% include sidebar.html %}
        </div>
      </div>

    </div>
  </body>

  <script type="text/javascript" src="/assets/js/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/assets/js/materialize.min.js"></script> 
</html>